.item-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.btn{

    width: 100%;
    border: none;
    padding: 0.5rem 1rem;

}
.price{
    margin: 0.5rem;
}
.image{
    text-align: center;
    margin: 0.5rem;
}

.item-name{
    margin: 0.5rem; 
}
p{
    text-align: center;
}
h1{
    text-align: center;

}
.item{
    margin: 1rem 0; 

    width: 40%;
    border: 1px solid lightgray;
    margin: 0.5rem 1rem;
}

.div1{
    display: flex;
}
.cart{
    padding: 1rem 0.5rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin: 2rem 0;
  }
  
  td,tr {
  padding: 0.7rem 0 0.7rem 0.3rem; 
  }
  td{
      border: 1px solid gray;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2
  }


.info{
    width: 100%;
    display: flex;
    

}
.div1,.div2{
    /* display: flex;
    flex-direction: column; */
}
.wraper,.wrap2{
    display: flex;
    flex-direction: column;
}



.flex{
    display: flex;
}
.flex1{
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 1px solid gray;
}
.flex2{
    display: flex;
    
    flex-direction: column;
    border: 1px solid gray;
    width: 60%;
}

ul{
    list-style: none;
}

.modal{
	position: fixed;
	text-align: center;
	padding: 0.3rem 0;
	color: green;
	width: 30%;
	top:10px;
	background:wheat;
left: 35%;
z-index: 9999;
	
}

@media screen and (max-width:750px){

  

    .item-inner{
        flex-direction: column;
    
    }
    .item{
       width: 50%;margin: 1rem auto;

    }




}



@media screen and (max-width:490px){
  
.item-inner{
    flex-direction: column;

}
.item{
    width: 100%;
}
  
}
