<footer>


<div class="row" style="height:20%">
    <div>
      <h1 class="phone-h">Call Centar<span><i class="fas fa-phone"></i></span></h1>
      
      </div>


</div>
<div class="row row-items ">
<div class="col">

  <div class="col-items col-lica">
<div class="row">
  <div class="col lica">
      <div class="fizicka"><h1 class="footer-h">Fizicka Lica</h1>
        <p class="footer-para">011 44 14 000</p>
        </div>
        <div  ><h1 class="footer-h">Pravna Lica</h1>
          <p class="footer-para">011 44 14 000</p>
          </div>
  </div>
  <div class="col-pozivi">

      <h1 class="footer-h">Pozivi sa mobilne mreže</h1>
      <p class="footer-para">066 6 67 67 67</p>
  </div>
</div>

  </div>
  <div class="col-items col-news">
      <div>
          <p class="prijava-p">Prijavite se na Newsletter</p>
        </div>
        <div>
          <input class="input" placeholder="insert your mail"><button class="button">Prijavi se</button>
          </div>
        </div>
        <div class="col-items">
  
  
<div>
    <h1 class="footer-h">Radno vreme Call Centra</h1>
    <ul class="footer-ul">
      <li>Ponedeljak - Petak: od 08h do 20h</li>
      <li>Subota: od 09h do 17h</li>
      <li>Nedelja: neradni dan</li>
      </ul>
  </div>

          </div>
          
  </div>




</div>


 
  
</footer>


