
/* items boxes */


.item-img{
    height: 130px;
    background-size: cover;
   width: 60%;
   margin: 0 auto;


}




.home-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 3rem 2rem 3rem;
}




.wraper{
   
    margin: 0 auto;
    border: 1px solid rgb(185, 199, 199);;
   
    margin: 0.5rem 0rem;
  
   
}




.items{
    width: 25%;
    text-align: center;

    font-family: fantasy;

    position: relative;
    z-index: 3;
 
   
  
   
   

}

.btn{

    color: white;
    margin: 1rem 0;
    font-family: fantasy;
    padding: 0.5rem 0;
    text-transform: uppercase;
    outline: none;
    border: none;
    width: 90%;

}
.item-p{

    width: 100%;
    margin: 1rem 0;
    padding: 0.3rem 0;
}


.price{
    background: rgb(171, 206, 206);
    width: 90%;
    margin:  0 auto;
}


.preporuka{

    color: rgb(168, 161, 161);
  margin: 0;

    font-size: 23px;
    margin-left: 3rem;
    margin-top: 1rem;

    

}


@media screen and (max-width:750px){

    .home-items{
        flex-direction: row;
        margin: 0 auto;
        
    
    }
    .items{
        margin: 0 auto;
        width: 40%;
    }

    .mobile-img{
        width: 35%;
        height: 100px;
    }
}
@media screen and (max-width:490px){
  

    .home-items{
        flex-direction: column;
    }

    .items{
        margin: 0 auto;
        width: 90%;
    }
    
    .preporuka{
        margin-left: 1rem;
    }
    .mobile-img{
        width: 29%;
        height: 90px;
    }
}

.modal{
	position: fixed;
	text-align: center;
	padding: 0.3rem 0;
	color: green;
	width: 30%;
	top:10px;
	background:wheat;
left: 35%;
z-index: 9999;
	
}